html {
    min-height: 100vh;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inventory-wrapper {
    max-width: 2096px;
    width: 100%;
}

#product-container .product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

#product-container .product {
    max-width: 400px !important;
    width: 400px;
    background: #fff;
    border: 0px;
    text-align: center;
}

#product-container .product:hover {
    border: 1px solid #ddd;
    box-shadow: -1px 28px 62px -33px rgba(219, 212, 219, 1);
}

.product .product-descr {
    font-size: 0.8rem;
}

.product .product-actions i {
    color: black;
    transition: all ease-in-out;
}

.product .product-actions a:hover {
    transform: scale(2);
}

.product-img img {
    max-width: 250px;
    width: auto;
}

.product .card-link {
    background-color: #fff !important;
    border: 0px;
}

#product-container .col {
    justify-content: center;
}

/* Remove default behaviour of number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button>* {
    pointer-events: none;
}